In [2]:
import pandas as pd

# Read CSV into DataFrame
df = pd.read_csv("upchurch doordash marketing.csv")

# Loop through each column and print value counts
for col in df.columns:
    print(f"\nValue counts for column: {col}")
    print(df[col].value_counts())

Value counts for column: Date
Date
2025-07-25    126
2025-07-23    126
2025-07-27    123
2025-07-26    122
2025-07-08    121
             ...
2025-06-30     17
2025-06-29     17
2025-06-03     15
2025-06-17     13
2025-06-02     11
Name: count, Length: 72, dtype: int64

Value counts for column: Is Self Serve Campaign
Is Self Serve Campaign
False    3284
True     1694
Name: count, dtype: int64

Value counts for column: Campaign ID
Campaign ID
1b644e69-41a3-4172-813d-0097feb51d88    616
e447ee04-f112-4caf-b6da-8a98285639f4    592
4eba9762-786f-4fc4-aede-412b8bdcb990    491
39f7b426-91f8-470c-8bea-ab3e9e4e52e4    387
3c79c2fd-3483-474a-9c26-8a39c02a628d    334
64037fd1-de6c-4ed7-9f08-3b0e5eac5333    331
2d098b94-d85b-4a8e-b16b-9f61449e9b25    286
1ab90f22-4581-4ef6-9a8b-01ded258aa62    224
bf2b58eb-cf63-4f66-844c-65e2fdb9e340    201
f2ca985c-bafd-4334-99d6-75d17407797f    192
d5d9897e-eded-4f8d-a794-29f6e7aa9f24    192
3fd88aed-4ca3-4c59-b9ff-8c2703d7e519    176
17ee14dc-639d-4693-ae36-e9f926ba5590    120
e1ac4fdb-0f21-4909-8928-a70dadc017a7     66
1b095ff4-c11d-4e58-a09d-2d79c56ed3d9     61
9a5df6df-5e69-4add-b00b-acdf1b06fcdb     56
a782399d-7e4f-4f61-a6e3-3d1a7ca2fc78     41
a416687c-8978-47eb-b459-c63481ed789a     37
206aaeb6-16a8-46a5-b2e6-80aafad4a3a5     19
6b0edfbd-f789-40b6-8757-6ae711d40ae9     18
981247a2-ce2b-404a-ae9c-20ebfeac7d4f     18
f2a1f218-f0ef-4348-81aa-4dc0a4faeff8     18
bbd55641-c854-4119-a04a-f4315ab664f7     18
742b14f4-f885-4ca4-a34b-5ba01e85a59f     18
26202fa3-7776-4b42-b6c4-9a7fbfc7d9b8     18
2415dc15-9146-4d0a-aa99-af71490cb413     18
a3abe3ae-9326-4141-857e-e45ca0b62996     18
dc7bd5a2-a9e9-41ba-82c3-ef9a963c2290     18
42181d45-abf7-4684-a9f6-1d323454d663     18
a844e8d9-280f-4d4c-9ede-40b6fd2c47f3     17
55bfbd8a-4fe3-4692-9fb1-32f6b873c953     17
680f52b9-51ce-45cb-8509-37e316c5de19     17
9d06ef49-b4f4-49b9-b2a0-9be56e69a3f9     17
510767c8-6f67-402b-8062-fbf557e2e182     17
61002719-0ddb-4d5b-a5d7-b34580a77050     17
8cc4dee9-fe40-4c3b-899c-0df3b49eca7d     17
aced287e-f236-4370-bedd-7a33e52ad51a     17
9f86edc0-8dd3-4f30-8516-89713b330e82     17
5b640747-30fa-4881-aae7-31086eaaba46     17
8b5a45dc-5387-4194-9451-ff4f8448e847     17
50aa1e38-2349-4aeb-ac4e-103e046337eb     17
558bdbd8-6efc-4b6f-b098-105b0f5ae708     17
8cbb0b7b-aed6-4929-ad16-47768ca688a0     17
12c20ecf-4b48-4a48-be07-f643c995391a     16
871e8f58-0bbf-4ada-9a3b-a556825a3133     16
64331b73-fb74-4ff2-9e9e-6c79357d885b     16
0d9924e6-9e40-4ec7-a68f-8a576be89d62     16
293f9f1d-1f38-4dda-ae4b-d30c39da5df6     16
886a518b-e9a2-46e7-be9f-17d31b114379     15
63656361-97a9-426d-aa47-83ded94cdf95     15
28722299-d0ef-489b-b6fb-7b33f84c374e     15
0fecec79-7cde-427c-b38a-cf8ac279e8c8      6
7ae1deba-78f6-41b3-8c8f-fa17a739e6ff      4
78697c40-470a-4628-a561-566e120d56fd      3
Name: count, dtype: int64

Value counts for column: Campaign Name
Campaign Name
TODC PROMO                                      616
mcd-freeitem15-070125-073125-newcx-lapsed       592
mcd-freebm15-060125-063025-newcx-lapsed-1-v2    491
mcd-medfries15-071025-072325-allcx              387
Spend $14 get 15% off 07/08/2025                334
mcd-freelfry15-060525-061525-allcx              331
Buy 1, get 1 free promotion 07/07/2025          328
mcd-bfastsammy-060525-061525-allcx              286
mcd-freeitem20-070325-070925-dp                 267
mcd-freeitem20-072425-073025-dp                 232
mcd-free10pc15-061925-062525-dp                 224
mcd-freeitem15-080125-093025-newcx-lapsed       192
Buy 1, get 1 free promotion 07/25/2025          172
Spend $15 get 15% off 07/07/2025                171
mcd-freeitem15-070325-070925-nondp              120
mcd-freeitem15-072425-073025-nondp              102
Buy 1, get 1 free promotion 07/26/2025           69
 mcd-freeitem15-070325-070925-nondp              37
mcd-free10pcnuggs-071125-081425-custom           17
mcd-free10pc15-050925-053125-newcx-lapsed         6
Spend $20 get 20% off 07/07/2025                  4
Name: count, dtype: int64

Value counts for column: Type of Promotion
Type of Promotion
Custom campaign    3284
Order discount     1125
Buy N, get one      569
Name: count, dtype: int64

Value counts for column: Campaign Start Date
Campaign Start Date
2025-07-08    641
2025-06-05    617
2025-07-23    616
2025-07-01    592
2025-06-01    491
2025-07-03    424
2025-07-10    387
2025-07-24    350
2025-07-25    225
2025-06-19    224
2025-07-07    196
2025-08-01    192
2025-07-11     17
2025-05-09      6
Name: count, dtype: int64

Value counts for column: Campaign End Date
Campaign End Date
2025-06-16    617
2025-08-12    616
2025-08-01    592
2025-07-01    491
2025-07-29    447
2025-07-10    424
2025-07-24    387
2025-07-31    334
2025-08-11    241
2025-06-26    224
2025-10-01    192
2025-07-23     62
2025-08-15     17
2025-07-08      7
2025-06-01      6
Name: count, dtype: int64

Value counts for column: Store ID
Store ID
680392    217
684546    202
684559    195
686273    186
684476    183
685633    182
684443    181
684444    178
680368    178
684918    175
684457    175
684468    174
685069    168
685073    166
687543    164
684472    162
684491    157
684906    156
684917    153
684904    152
680307    149
684455    147
680394    146
685071    145
688121    143
684427    141
684429    137
680386    135
687850    134
677517    116
680384     81
Name: count, dtype: int64

Value counts for column: Store Name
Store Name
McDonald's (22008-OAKLAND & 55TH)                  217
McDonald's (32379-MIRABELLA)                       202
McDonald's (16832-BROWARD & 1ST)                   195
McDonald's (10881-CONGRESS & 22ND)                 186
McDonald's (12885-MCNAB & ROCK ISLAND)             183
McDonald's (1868-PEMBROKE PINES)                   182
McDonald's (7732-OAKLAND FOREST)                   181
McDonald's (7158-I-95 & SUNRISE)                   178
McDonald's (2533-LAUDERDALE LAKES)                 178
McDonald's (6653-DEERFIELD BEACH)                  175
McDonald's (5990-SOUTHGATE)                        175
McDonald's (2565-5TH AVENUE)                       174
McDonald's (4112-SAMPLE ROAD)                      168
McDonald's (1585-A & F)                            166
McDonald's (3482-BOYNTON BEACH)                    164
McDonald's (3555-TAMARAC)                          162
McDonald's (10671-LAKEWOOD)                        157
McDonald's (24106-PALM AIRE)                       156
McDonald's (24636-COPANS RD. & I - 95)             153
McDonald's (29261-BOCA RATON, BOCA CENTER RELO)    152
McDonald's (10397-SUNRISE/PINE ISLAND)             149
McDonald's (27555-SUNRISE, COMMERCIAL & 94TH)      147
McDonald's (17009-OAKLAND & HIATUS)                146
McDonald's (36313-ATLANTIC EXTENSION II)           145
McDonald's (7253-BAY COLONY)                       143
McDonald's (681-COMMERCIAL)                        141
McDonald's (6712-EXECUTIVE)                        137
McDonald's (2011-CORAL RIDGE)                      135
McDonald's (5002-CYPRESS CREEK & POWERLINE)        134
McDonald's (1013-NORTH POMPANO)                    116
McDonald's (13565-GALT OCEAN MILE)                  81
Name: count, dtype: int64

Value counts for column: Currency
Currency
USD    4978
Name: count, dtype: int64

Value counts for column: Orders
Orders
1     1419
2      832
3      589
4      374
5      281
6      182
7      164
8      128
9      119
10      98
11      98
13      72
12      68
14      65
15      58
17      53
16      43
18      34
22      31
20      31
19      30
28      18
21      16
29      16
26      16
24      15
27      15
23      13
25      11
32       8
30       7
34       6
42       6
35       6
39       6
37       6
31       6
36       5
38       4
43       4
33       4
40       3
45       3
46       3
41       2
51       2
54       2
52       2
66       1
63       1
58       1
50       1
Name: count, dtype: int64

Value counts for column: Sales
Sales
20.38     12
20.18      9
22.77      9
17.88      9
22.07      9
          ..
126.76     1
48.87      1
55.82      1
193.25     1
69.32      1
Name: count, Length: 4096, dtype: int64

Value counts for column: Customer Discounts from Marketing | (Funded by you)
Customer Discounts from Marketing | (Funded by you)
6.99     315
7.39     234
7.19     195
14.78    128
14.38    128
        ...
13.65      1
22.91      1
36.19      1
43.03      1
19.66      1
Name: count, Length: 1409, dtype: int64

Value counts for column: Customer Discounts from Marketing | (Funded by DoorDash)
Customer Discounts from Marketing | (Funded by DoorDash)
0.00    4975
1.28       1
0.19       1
2.26       1
Name: count, dtype: int64

Value counts for column: Customer Discounts from Marketing | (Funded by a Third-party)
Customer Discounts from Marketing | (Funded by a Third-party)
0.0    4978
Name: count, dtype: int64

Value counts for column: Marketing Fees | (Including any applicable taxes)
Marketing Fees | (Including any applicable taxes)
0.00     3284
0.99      142
2.97      133
1.98      122
4.95      108
         ...
65.34       1
57.42       1
18.14       1
6.95        1
49.50       1
Name: count, Length: 69, dtype: int64

Value counts for column: DoorDash Marketing Credit
DoorDash Marketing Credit
 0.00    4975
-1.28       1
-0.19       1
-2.26       1
Name: count, dtype: int64

Value counts for column: Third-party Contribution
Third-party Contribution
0.0    4978
Name: count, dtype: int64

Value counts for column: Average Order Value
Average Order Value
22.07    14
20.77    14
20.38    14
22.77    14
23.57    12
         ..
55.79     1
33.37     1
16.51     1
40.22     1
34.66     1
Name: count, Length: 1882, dtype: int64

Value counts for column: ROAS
ROAS
4.57    26
3.10    25
3.49    24
4.66    23
3.04    22
        ..
6.97     1
7.45     1
7.67     1
1.65     1
9.73     1
Name: count, Length: 659, dtype: int64

Value counts for column: New Customers Acquired
New Customers Acquired
0    3618
1    1071
2     212
3      54
4      18
5       4
6       1
Name: count, dtype: int64

Value counts for column: Existing Customers Acquired
Existing Customers Acquired
1     1309
2      735
0      515
3      484
4      323
5      239
6      204
7      165
8      132
10     103
9       90
11      84
12      82
13      66
14      60
16      47
18      43
15      38
17      31
20      29
25      21
21      21
19      20
22      14
26      14
23      13
24      11
29       9
28       8
27       8
34       8
30       7
32       5
33       5
37       5
31       5
35       4
39       4
42       3
46       2
40       2
45       2
43       2
38       1
44       1
54       1
41       1
50       1
52       1
Name: count, dtype: int64

Value counts for column: Total Customers Acquired
Total Customers Acquired
1     1426
2      832
3      593
4      383
5      282
6      175
7      171
8      124
9      123
11     101
10      90
13      73
12      67
14      62
15      58
17      48
16      45
18      35
19      30
22      28
20      26
21      20
27      17
28      15
23      15
26      15
24      13
29      13
25      12
32      10
35       8
31       8
37       7
42       6
40       5
33       5
30       5
38       4
36       3
34       3
41       3
49       3
46       3
39       2
44       2
51       2
53       1
54       1
43       1
63       1
59       1
55       1
45       1
Name: count, dtype: int64

Value counts for column: New DP Customers Acquired
New DP Customers Acquired
0    4291
1     607
2      69
3      10
4       1
Name: count, dtype: int64

Value counts for column: Existing DP Customers Acquired
Existing DP Customers Acquired
1     1137
0     1106
2      646
3      447
4      333
5      221
6      199
7      144
9      127
8      126
10      85
12      64
13      62
11      58
16      28
17      24
15      23
14      23
22      17
18      14
20      13
21      12
19      11
25      11
23       8
24       6
30       5
26       4
29       4
28       3
34       3
33       3
36       3
27       2
32       2
38       1
39       1
31       1
35       1
Name: count, dtype: int64

Value counts for column: Total DP Customers Acquired
Total DP Customers Acquired
1     1242
0      793
2      745
3      458
4      355
5      228
6      208
7      145
9      127
8      120
10      88
11      85
12      58
13      51
14      45
16      32
15      29
18      20
17      17
20      15
19      15
23      13
22      12
25      11
21      11
24       7
26       6
27       6
28       6
32       5
34       4
30       4
29       4
31       2
38       2
36       2
42       2
37       2
41       1
33       1
35       1
Name: count, dtype: int64

In [4]:
unique_cols = [col for col in df.columns if df[col].nunique() == len(df)]

print("Columns with all unique values:", unique_cols)

Columns with all unique values: []